body a, p, span, button, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Helvetica', 'Arial', sans-serif;*/
    /* font-family: 'Helvetica', Arial, sans-serif; */
    font-family: "Lato",  Arial, sans-serif;
    font-size: 16px;
}

.bar .title, .nav-bar-title{
  font-family: "Lato",  Arial, sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}

.bar.bar-header .title.title-center.header-item{
  background: url('https://s3-ap-southeast-2.amazonaws.com/fal-group-royalty/settings/invoiceLogo/image_1530253398.png') no-repeat center bottom;
  background-size: 40px auto;
  bottom: 0;
  top: initial;
}


img.responsive{
  display: block;
  width: 100%;
}

.helvetica-lt{
  font-family: 'Helvetica', Arial, sans-serif;
}

.helvetica-nenue-lt-light{
  font-family: 'Helvetica', Arial, sans-serif;
}

.color-1{
  color: #641937;
}

a{
  text-decoration: none;
  color:#808080;
}

.text-justify{
  text-align: justify;
}

h1.h1-heading {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 25px;
  font-weight: 400 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
}

h4.social-heading {
  /* font-weight: 200; */
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
}

.bar-color-1 h1{
  color: #fff;
  /*font-weight: 300 !important;*/
}

.padding-60{
  padding-left: 5vw;
  padding-right: 5vw;
}

.empty-msg h4{
  color: #666;
}

/*.has-header {
    top: 56px;
}*/

.has-header.has-header.main-content{
  /*top:56px;*/
}

.platform-ios .has-header.has-header.main-content{
  /*top:76px;*/
}

@media screen and (max-width:400px){
  .padding-60{
    padding-left: 0;
    padding-right: 0;
  }
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx){
 .bar{
   background-image: none !important;
 }
}

a[href^=tel] { color: inherit; text-decoration: none; font-size:inherit; font-weight: inherit; font-family: inherit;}


ion-content{
  /*background-color: #fff;*/
  /*background-color: #f4f7fa;*/
  background-color: transparent;
}

ion-content.has-header.main-content{
  /*border-radius: 12px 12px 0 0 ;*/
  /*padding-top: 12px !important;*/
  /*margin-top: 10px;*/
}

.platform-ios ion-content.has-header.main-content{
  /*margin-top: 25px;*/
}
ion-side-menu{
  background-image: linear-gradient(to right, #72C6C7 90%, #72C6C7 100%) !important;
}

ion-side-menu ion-header-bar.bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ion-side-menu ion-header-bar.bar{
  background-image: linear-gradient(to right, #72C6C7 90%, #72C6C7 100%) !important;
  background-size: cover;
  border:none;
  height: 100px;
} */

.platform-ios ion-side-menu ion-header-bar.bar{
  height: 90px !important;
}

.platform-ios ion-side-menu ion-header-bar.bar{
  /* top:20px; */
}

ion-side-menu ion-header-bar .ion-menu-head{
  /* width: 73%;
  margin: 10px auto; */
  padding: 0 15px;
  height: 100%;
}

ion-side-menu ion-header-bar .ion-menu-head #side-menu-logo{
  display: block;
  height: 100%;
  margin-top: 12px;
}

ion-side-menu ion-header-bar .ion-menu-head .icon-bar .col{
  padding: 0;
}

ion-side-menu ion-header-bar .ion-menu-head .icon-bar .icon{
  width: 34px;
  height: 34px;
}

ion-side-menu ion-header-bar .ion-menu-head .icon-bar .icon::before{
  font-size: 20px;
  line-height: 24px;
  padding-left: 0;
  padding-right: 0;
}

ion-side-menu ion-content.has-header{
  padding-top: 70px;
}

.platform-ios ion-side-menu ion-content.has-header{
  padding-top: 70px;
}

ion-side-menu ion-item.item{
  /* border-width: 0; */
  /* border-color:#555; */
  color: #fff;
}

ion-side-menu ion-item.item.icon-pull-right i:nth-child(2){
  color: #fff;
  position: absolute;
  right: 2px;
  left:auto;
}


img.async-load {
    background: url('../img/loading.gif') 50% no-repeat;
}

.async-load {
    background: url('../img/loading.gif') 50% no-repeat;
}


/*
 *
 * login page
 *
 */

 .logo img{
   /* min-width: 75%; */
   max-width: 50vw;
   display: block;
   /* margin: 35px auto; */
 }

 .cust-form-1{
   /*max-width: 320px;
   margin-left: auto;
   margin-right: auto;*/
   margin-top: 40px;
   text-transform: capitalize;
 }

 .signup-form.cust-form-1{
   margin-top:0;
 }

 .cust-form-1 label{
   background-color: transparent;
 }

 .cust-form-1 label:not(.toggle){
   /*border-top: 1px;
   border-left: 0px;
   border-right: 0px;
   border-bottom: 1px;
   border-style: solid;
   border-color: rgba(100, 25, 55, 0.4);*/
   /*text-transform: capitalize;*/
   /*padding: 11px 0;*/

   /* background-color: transparent; */
   padding: 4px 0 4px 0px;
 }

 .cust-form-1 label:nth-child(1){
   margin-bottom: 12px;
 }

 .cust-form-1 label.item-checkbox{
   border: 0;
   color: #fff;
   padding: 8px 0 8px 50px;
 }

 .cust-form-1 .item-select.item-stacked-label{
  border-radius: 20px;
 }

 .cust-form-1 .item-select.item-stacked-label select{
  color: rgb(255, 255, 255);
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  padding: 8px 0 8px 13px;
 }

 .signup-form.cust-form-1 label{
   margin-bottom: 0;
   border: 0;
 }

 .signup-form.cust-form-1 label p.form-error-msg{
   font-size: 14px;
    line-height: 1;
 }

 .form-error-msg i.icon{
   padding: 0;
   vertical-align: baseline;
 }

 .cust-form-1 ul.list li.item-toggle{
   background-color: transparent;
   border: 0;
   color:#222;
   padding-left: 0;
   font-size: 14px;
 }

 .signup-form.cust-form-1 label input.sign-up-dob[type="date"]:not(.has-value):before{
  color: #919191;
  content: attr(placeholder);
  position: absolute;
  left: 42%;
  font-size: 16px;
  text-transform: capitalize;
  /*display: block;*/
  /*text-align: center;*/
}

 .cust-form-1 label input::-webkit-input-placeholder{
    color:#eee;
    text-align: left;
    font-size: 16px;
    text-transform: capitalize;
    /*vertical-align: baseline;*/
}

.signup-form.cust-form-1 label input::-webkit-input-placeholder{
  color:#eee;
  /*text-ealign: left;*/
  font-size: 16px;
  /*opacity: 0.7;*/
  text-transform: capitalize;
}

.cust-form-1 label input:focus::-webkit-input-placeholder { color:transparent; }

.cust-form-1 label input{
    color:#fff !important;
    text-align: left;
    font-size: 16px;
    padding: 0 5px 0 10px;
    background:#72C6C7;
    border-radius: 20px;
    border: 0;
    /* border-bottom: 1px solid #fff; */
}

.footer-container .cust-form-1{
  margin-top: 25px;
  margin-bottom: 0;
}

.footer-container .cust-form-1 label{
  border: 0;
  font-size: 16px;
  font-weight: bold;
}

.footer-container .cust-form-1 label{
  margin-bottom: 0;
}



.footer-container .cust-form-1 label input{
  color: #fff !important;
  border-bottom: 0;
  height: 40px;
}

.signup-form.cust-form-1 .item p.form-error-msg{
  white-space: normal;
  
}

.signup-form.cust-form-1 .form-valid-msg{
  white-space: normal;
}

.signup-form.cust-form-1 .input-label{
  /* color:#fff !important; */
  font-size: 16px;
  font-weight: bold;
}

.signup-form.cust-form-1 label input{
  height: 40px;
  /*text-align: left;*/
  /*font-size: 16px;*/
}
.signup-form .tnc, .signup-form .tnc > span{
  color: #ccc; 
  font-size: 12px;
  text-transform: capitalize;
}

.bar-footer.version-footer{
  background: rgba(0,0,0,0.7);
  height: 20px;
  padding: 0 10px;
  color: #fff;
}

.form-error-label{
  -webkit-box-shadow: inset 0px 0px 30px 5px rgba(239,70,58,1);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(239,70,58,1);
  box-shadow: inset 0px 0px 30px 5px rgba(239,70,58,1);
}

/*.signup-form.cust-form-1 label input[type="date"]:before {
    content: attr(placeholder) !important;
    text-align: center;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }*/

.social-container{
  /*margin: 35px auto 0;*/
}

/*.social-icon-button .button{
  width: 60px;
  height: 60px
}*/

.no-padding{
  padding: 0;
}

.profile-form.cust-form-1{
  position: relative;
  top: -62px;
  z-index: -1;
  padding-top: 70px;
  max-width: initial;
  /*background-color: #F4F7FA;*/
  -webkit-box-shadow: 0px -1px 5px 0px rgba(165,182,199,1);
  -moz-box-shadow: 0px -1px 5px 0px rgba(165,182,199,1);
  box-shadow: 0px -1px 5px 0px rgba(165,182,199,1);
}


.profile-form.cust-form-1 label{
  padding: 11px 15px;
}

/*.profile-form.cust-form-1 label:nth-child(1){
  border-top: 0px;
}*/

.profile-form.cust-form-1 label .input-label{
  color: #641937 !important;
  font-size: 22px;
}

.profile-form.cust-form-1 label input{
  font-size: 18px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;


}

.profile-form.cust-form-1 label .row.profile-details{
  padding: 0;
}

.profile-form.cust-form-1 label .row.profile-details .col:nth-child(1){
  padding: 7px 10px 7px 0px;
  color: #641937 !important;
  font-size: 22px;
}

.profile-form.cust-form-1 label .row.profile-details .col:nth-child(2){
  /*line-height: 16px;*/
  padding: 8px 0 0 0;
  font-weight: 400;
  text-transform: capitalize;
  /*color: #641937 !important;*/
  font-size: 18px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*vertical-align: middle;*/
}

.profile-form.cust-form-1 label .form-error-msg{
  position: absolute;
  bottom: 4px;
  font-size: 12px;
  color: red;
  font-style: italic;
}

.sign-up-content .scroll{
  min-height: 100vh;
}

.has-footer-container{
  background-color: transparent;
  /* margin-top: 150px; */
  height: 60vh;
  /* position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px; */
}

.has-footer-container .footer-container{
  background-color: #fff;
  max-height: 90vh;
  margin-top: 150px;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 10px 10px 0 0;
  padding: 20px
}

/* .has-footer-container .footer-container{
  background-color: #fff;
  max-height: 90vh;
  position: absolute;
  bottom: 0;
  left: 10px;
  right:10px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  padding: 20px
} */

.has-footer-container .footer-container .top-icon-btn{
  position: absolute;
  right: 10px;
  top:-25px;
}

.has-footer-container .footer-container .top-icon-btn button{
  /* color: #A57C57; */
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #eee;
}

.has-footer-container .footer-container .top-icon-btn button i::before{
  font-size: 25px;
}

 /*.cust-form-1 label:nth-child(1){
   border-top: 0px;
 }*/

 /* message box */

 .msg-box > p{
   padding: 5px;
   border: 1px solid #ddd;
   position: relative;
 }

 .msg-box > p:not(:last-child){
   margin-bottom: 25px;
 }

.msg-box > p > button{
  top:-10px;
  right:-10px;
  position: absolute;
}



/* favorite page */
.dining-item.item-thumbnail-left{
    min-height: 120px;
}

.dining-item.item-thumbnail-left .item-content{
    min-height: 120px;
    padding: 0 0 0 120px;
}

.dining-item.item-thumbnail-left .item-content .banner-img{
    max-width: 120px;
    max-height: 120px;
    top:0;
    left:0;
}

.dining-item .item-content .row.dining-bottom-bar {
    position: relative;
    bottom:-7px;
    background-color: #0C70B9;
    padding: 0;
    color: #eee;
    min-height: 36px;
}

.dining-item .item-content .row.dining-bottom-bar .dining-price{
    background-color:#0a6761;
}

.dining-item .item-content .row.dining-bottom-bar .dining-time{
    font-size: 13px;
    /*line-height: 1em;*/
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dining-item .item-content .item-desc{
    max-height: 3.5em;
    height: 3.5em;
    line-height: 1em;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.dining-item .item-content .dining-title, .dining-item .item-content .item-desc{
    /*padding-left: 5px;*/
    padding: 8px 0px 0px 8px;
}



.list .item.item-accordion {
  /*line-height: 38px;*/
  padding-top: 0;
  padding-bottom: 0;
  /* transition: 0.2s all linear; */
}

.list .item.item-accordion > p{
  white-space: normal;
  text-align: justify;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.booking-accordion .list .item.item-accordion{
  padding: 0;
}

.booking-accordion .item-stable .booking-date{
  float: right;
}

.booking-accordion .list .item.item-accordion .list .item.item-icon-left .item-note{
  color:#333;
}

.booking-accordion .list .item.item-accordion .list .item-list li{
  border-width: 0;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.booking-accordion .list .item.item-accordion .list .item-list li span:nth-child(2){
  float: right;
}

.booking-accordion .list > div{
  margin-bottom: 10px;
}

.booking-accordion .list > div.ng-enter{
  -webkit-animation: fadeInUpBig 1s;
  -moz-animation: fadeInUpBig 1s;
  -ms-animation: fadeInUpBig 1s;
  animation: fadeInUpBig 1s;
}

.booking-accordion .list > div.ng-leave{
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

.venue-info .item-thumbnail-left > h2{
  color: #72C6C7;
  font-weight: 500;
}

.venue-info .item-thumbnail-left > p{
  color: #A8A7A7;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;
  max-height: 2.6em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* enquiry-popoup */

.enquiry-popoup .popup-title{
  color: #000;
}

/* credit card popup */
.cc-popoup h1,h2,h3,h4,p {
  color: #222;
}

.cc-popoup .popup{
  min-width:300px;
}

.cc-popoup .popup .list .item{
  margin: 0px;
}

/* membership card */
.card-modal-container .card-num, .card-modal-container .card-name{
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

@media (min-width: 360px){
  .card-modal-container .card-num, .card-modal-container .card-name{
    font-size: 19px;
  }
}

.card-modal-container .card-name{
    color: #641937;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-modal-container .card-tier{
      color: #444;
      margin: 0px;
      font-family: 'Helvetica', Arial, sans-serif;
}

.voucher-barcode img{
    width: 100%;
    display: block;
    max-height: 110px;
    max-width: 192px;
    margin: auto;
    /*border-radius: 15px;*/
}

.voucher-barcode .barcode-pl{
  width: 100%;
  max-height: 110px;
  max-width: 192px;
  margin: auto;
  position: relative;
}

.voucher-barcode .barcode-pl span.barcode-msg{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  color: #fff;

}

.no-active.activated.item{
  /* border-color: #271a27; */
}

/*
 *
 *Animations
 *
*/
.fade-in {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

/*
 *
 *Order page
 *
*/

.order-item .item-text-wrap .row.item-order div{
    height: auto;
    /*line-height: 60px;*/
    /* border-top: 1px solid #666; */
}

.order-item .item-text-wrap .row div span{
    vertical-align: middle; display: inline-block;
}

.order-item .item-text-wrap span.order-total{
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    /*float: right;*/

}


/* booth page */

.slide-img > img{
  width: 100%;
  height: auto;
}

.member-benifit .item-note{
  color: #555;
}

.ticket-container{
  padding: 5px;
  background-color: #4B4B4B;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: normal;
}

.ticket-container.white{
  background-color: #fff;
  color: #222;
  padding: 5px 20px;
}

@media all and (max-width:320px) {
  .ticket-container, .ticket-container .col .stock-price{
    font-size: 14px !important;
  }
}

.profile-barcode{
  background-color: transparent;
  padding: 10px;
  position: relative;
}

.profile-barcode span.member-barcode-pl-msg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 254px;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.profile-barcode .voucher-barcode img{
  max-width: 75%;
  max-height: 125px;
  display: block;
  margin: 0 auto;
}

.profile-barcode span{
  font-size: 25px;
}

.profile-info{
  /*padding: 10px 0;*/
}

.profile-info .name-bar{
  background-color: transparent;
  padding: 5px;
  color: #ccc;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.profile-info .name-bar .name{
  color: #666;
  font-size: 18px;
  padding: 5px 0;
  margin: 0;
  font-weight: bold;
}

.profile-info .point-bar.row{
  background-color: transparent;
  justify-content: space-between;
  padding: 0;
  margin: 0px 10px;
  width: auto;
  border-top: 1px solid #000;
}

.profile-info .point-bar.row > .col{
  text-align: center;
  padding: 5px 0;
}

.profile-info .point-bar.row > .col:not(:nth-child(1)) .points{
  /* border-left: 1px solid #000; */
}

.profile-info .point-bar.row > .col i{
  display: block;
  font-size: 20px;
}

.profile-info .point-bar.row > .col .points{
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 2em;
  font-weight: bold;
}

.profile-info .point-bar.row > .col .label{
  font-size: 12px;
  text-transform: uppercase;
}

.profile-info .icon-bar.row{
  background-color: transparent;
  justify-content: space-between;
  height: 95px;
  padding: 10px 5px;
}

.profile-info .icon-bar.row > .col{
  text-align: left;
  color: #666;
}

.profile-info .icon-bar.row > .col >i{
  font-size: 28px;
}

.profile-info .icon-bar.row > .col:nth-child(2){
  text-align: right;
  /* color: #fff; */
}

.profile-info .icon-bar.row > .col .icon{
  padding-right: 8px;
  font-size: 16px;
}

.profile-info .icon-bar.row > .col .label{
  font-size: 14px;
  text-transform: capitalize;
}

.account-page .profile-barcode{
  margin-top: 10px;
}

/* promo-success-popoup */
.promo-success-popoup .popup{
  background-color: transparent;
}

.promo-success-popoup .popup .popup-head{
  background-color: rgba(0, 0, 0, 1);
  border-bottom:0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.promo-success-popoup .popup .popup-head h3{
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
}

.promo-success-popoup .popup .popup-body{
  border-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.promo-success-popoup .popup .popup-body h4{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.promo-success-popoup .popup .popup-body span{
  color: #fff;
  font-size: 18px;
}
.promo-success-popoup .popup .popup-body img{
  width: 100%;
  height: auto;
}

.promo-success-popoup .popup .popup-buttons{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: 3px;
}

.promo-success-popoup .popup .popup-buttons button{
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.promo-success-popoup .popup .popup-buttons button.activated{
  border: 0;
}

/* voucher */
.voucher-container barcode img{
  background-color: #fff;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.voucher-container .voucher-info p{
  margin: 5px auto 0;
}


.hours {
  color: #666;
  font-size: 12px;
  font-weight: bold;
}

.hours > div{
  margin-bottom: 10px;
}

.cc-popoup-dark{

}

.cc-popoup-dark .popup{
  min-width: 95%;
  background-color: rgb(246, 246, 246, 0.9);
  border-radius: 15px;
}

.cc-popoup-dark .popup .popup-head{
  /*padding-top: 0;*/
  padding-bottom: 0;
  border-bottom: 0;
}

.cc-popoup-dark .popup .popup-head h3{
  color: #222;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.cc-popoup-dark .popup .popup-body{
  padding-top: 0;
}

.cc-popoup-dark .popup .popup-body .payment-secttion{
  padding: 0;
}

.cc-popoup-dark .popup-buttons .button{
  border-radius: 0;
  color:#fff;
}

.cont-med option{
  text-transform: capitalize;
}

.signup-form.cust-form-1 input.search-input{
  background-color: #72C6C7;
  padding-right: 35px;
  text-overflow: ellipsis;
}


/* ticket page */
.ticket-grid{
  padding: 5px;
}
.ticket-grid .row .col{
  position: relative;
  padding: 15px;
}
.ticket-grid .item-img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.ticket-grid .ticket-desc{
  position: absolute;
  margin: 15px;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
}

.ticket-grid .ticket-desc h4{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-top: 2px;
  top:10px;
  line-height: 10px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.ticket-grid .ticket-desc h4::after{
  content: "\A _";
  white-space: pre;
}

.ticket-grid .ticket-desc .ticket-status{
  color: #fff;
  font-size: 12px;
  padding: 10px 10px;
  text-align: center;
}

.ticket-grid .ticket-desc .ticket-status .barcode-msg{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1em;
  max-height: 2em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ticket-grid .ticket-desc .ticket-status .barcode-msg.row-4{
  max-height: 4em;
  -webkit-line-clamp: 4;
}

.ticket-grid .ticket-desc .ticket-footer{
  position: absolute;
  bottom: 8px;;
  left: 10px;
  right: 10px;;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.ticket-grid .ticket-desc .ticket-footer span{
  font-size: 13px;
}

.order-card .item-divider:first-child{
  background-color: #fff;
  padding: 0;
}

.order-card .item-divider:first-child div{
  padding-bottom: 0
}

.order-card .item-text-wrap{
  border-top: 0;
  padding: 0 5px;
}

.order-card .item-order > div{
  padding-top: 0;
  padding-bottom: 0;
}

.order-card .item-order > div >span{
  color: #717171;
  font-size: 12px;
}

.order-filter.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-filter.list label{
  padding: 6px 14px;
  flex-grow: 1;
  flex-basis: 40%;
}

.order-filter.list label span{
  color: #A57C57;
  font-weight: bold;
}

.order-filter.list label input{
  /* padding-top: 0; */
  padding-right: 0;
}

i.fa{
  font-weight: normal;;
}

.survey-qust{
  padding-bottom: 30px;
}

.time-loaction-component{
  /* padding-top: 10px; */
}

.time-loaction-component div{
  border-bottom: 0 !important;
}

.venue-info .legal-content.item{
  padding: 0;
}

.time-loaction-component .social-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.time-loaction-component .social-container > button{
  margin: 0 5px;
  line-height: normal !important;
  background-color: transparent !important;
  border-radius: 20px;
  padding: 0;
  min-width: 40px !important;
  min-height: 40px !important;
  border: 2px solid #000;
}

input[type=month]::-webkit-inner-spin-button, 
input[type=month]::-webkit-calendar-picker-indicator { 
  -webkit-appearance: none; 
  background-color: transparent;
  /* display: none;  */
}

.platform-ios input[type="month"]{
  padding-top: 12px;
}

/* .platform-ios input[type="date"]{
  padding: 0 5px 0 10px;
} */
