.listing-container{
  /*top:103px;*/
  padding-top: 10px;
  background-color: #f3f6f9;
  /*-webkit-box-shadow: inset 0px 2px 2px 0px rgba(204,204,204,1);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(204,204,204,1);
  box-shadow: inset 0px 2px 2px 0px rgba(204,204,204,1);*/
}
.top-coners-div{
  position: absolute;
  left:0;
  top:44px;
  z-index: 99;
  background-color: #0F000F;
  width: 100%;
}

.platform-ios .top-coners-div{
  top:64px;
}

.top-coners-div .corner-body{
  min-height: 12px;
  background-color: #f4f7fa;
  border-radius: 12px 12px 0 0;
}

.button-bar.top-tabs{
  /*position: absolute;
  top:45px;
  z-index: 99;*/
}

.button-bar.top-tabs{
  position: absolute;
  top:56px;
  z-index: 99;
  padding: 0 20px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(204,204,204,1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(204,204,204,1);
  box-shadow: 0px 2px 8px 0px rgba(204,204,204,1);
  /*border-radius: 12px 12px 0 0;*/
}

.listing-container.top-tabs{
  top:104px;
}

.platform-ios .listing-container.top-tabs{
  /*top:174px;*/
  padding-top: 70px;
}

.platform-ios .button-bar.top-tabs{
  top:76px;
}
/* card item */
.card.no-h-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top:0;
  /*margin-top: 5px;*/
  margin-bottom: 2px;
  border-radius: 0;
  /*padding: 3px;*/
}

.card.no-h-margin .item.item-head {
  border-bottom-width: 0;
  padding: 0px 20px;
  z-index: 99;
  position: relative;
  background-color: #000;
  border-radius: 0;
}

.card.no-h-margin .item.promo-head{
  border-bottom-width: 0;
  padding: 2px 10px;
  z-index: 99;
  position: relative;
  background-color: #000;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.card.no-h-margin .item.promo-head span{
  color: #fff;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.no-h-margin .item.item-head h4{
  font-size: 16px;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card.no-h-margin .item.item-head h4 .week-day{
  font-weight: 300;
}

.card.no-h-margin .item.item-head .repeat-day.row{
  position: absolute;
  bottom: 0;
  padding: 0;
}

.card.no-h-margin .item.item-head .repeat-day.row .col{
  font-size: 12px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  color: #eee;
  padding: 3px 5px;
  border-radius: 5px;
}

.card.no-h-margin .item.item-head .repeat-day.row .col:not(:first-child){
  margin-left: 5px;
}

.card.no-h-margin .item-body{
  border-top-width: 0px;
  padding-bottom: 0px;
  padding: 0;
  border-radius: 0;
  overflow: initial;
}

.card.no-h-margin .item-body .listing-info{
  position: relative;
}

.card.no-h-margin .item-body .listing-info img.listing-banner-img{
  width: 100%;
  height: auto;
  display: block;
}
.card.no-h-margin .item-body .listing-info .listing-desc{
  /* background-color: #000;
  padding: 5px 20px 0; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  /* justify-content:center; */
  align-items:center;
  background-color: rgba(0, 0, 0, 0.6);
}

.card.no-h-margin .item-body .listing-info .listing-desc .venue-layer{
  flex-grow: 0;
  height: 100%;
  width: auto;
  /* min-width: 102px; */
  position: relative;
}

.card.no-h-margin .item-body .listing-info .listing-desc .venue-layer > img:first-child{
  display: block;
  max-height: 100%;
  width: auto;
  opacity: 0.7;
}

.card.no-h-margin .item-body .listing-info .listing-desc .venue-layer .venue-info-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.card.no-h-margin .item-body .listing-info .listing-desc .venue-layer .venue-info-container > img{
  max-width: 65%;
  display: block;
}

.card.no-h-margin .item-body .listing-info .listing-desc .venue-layer .venue-info-container > span{
  font-size: 12px;
  color: #ccc;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 95%;
}


.card.no-h-margin .item-body .listing-info .listing-desc .listing-details{
  flex-grow: 1;
}

.card.no-h-margin .item-body .listing-info .listing-desc h2{
  /*padding: 0px 20px;*/
  margin: 0;
  color: #fff;
  font-size:18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
}

.listing-details.listing-desc h2{
  padding: 20px 20px 0;
  margin: 0;
  /* color: #fff; */
  font-size:16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
}

.listing-details.listing-desc h3{
  color: #ccc;
  padding: 5px 20px 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  font-size: 13px;
}

.listing-details.listing-desc p.long-desc{
  margin: 0;
  padding:20px 10px;
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  /* color: #fff; */
  /* text-align: justify; */
}

.listing-details.listing-desc .listing-days .listing-time{
  margin-bottom: 10px;
}

.listing-details.listing-desc .listing-days .listing-time span{
  font-size: 14px;
  font-weight: bold;
  color: #CCCCCC;
}

.listing-details.listing-desc .listing-days .listing-time span:first-child{
  margin-right: 10px;
}

.card.no-h-margin .item-body .listing-info .listing-desc h2::after{
  content: "\A --";
  white-space: pre-line;
}

.listing-details.listing-desc h2::after{
  content: "\A --";
  white-space: pre-line;
}

.listing-details.listing-desc .listing-days{
  padding: 0 10px 20px;
  text-align: center;
}

.listing-details.listing-desc .listing-days .listing-day{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  padding: 1px 6px;
  margin-right: 5px;
  /* display: inline-block; */
}

.card.no-h-margin .item-body .listing-info .listing-desc .short-desc{
  margin: 0;
  padding: 0 15px;
  color: #fff;
  font-size:10px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: -webkit-box;
  line-height: 1.3em;
  max-height: 2.6em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* height: 40px; */
}

.card.no-h-margin .item-body .listing-info .listing-desc .listing-days{
  text-align: center;
  position: relative;
  /* bottom: 8px; */
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis
}

.card.no-h-margin .item-body .listing-info .listing-desc .listing-days .listing-day{
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1px 6px;
  margin-right: 5px;
}

.card.no-h-margin .item-body .row.listing-info > .col:nth-child(1){
  padding: 0 5px 0 0;
}

.card.no-h-margin .item-body .row.listing-info > .col:nth-child(2){
  padding: 3px 0 0 5px;
  position: relative;
}

.card.no-h-margin .item-body .row.listing-info .col:nth-child(2) .listing-head{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  color: #641937;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  margin-right: 28px;
}

.card.no-h-margin .item-body .row.listing-info > .col:nth-child(2) > .icon{
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 25px;
}

.card.no-h-margin .item-body .row.listing-info .col:nth-child(2) p.item-body-desc{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 15px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.1em;
  max-height: 4.4em;
  color: #111;
  text-align: left !important;
  padding-right: 3px;
}

@media screen and (max-width : 320px) {
  .card.no-h-margin .item-body .row.listing-info .col:nth-child(2) p.item-body-desc{
    -webkit-line-clamp: 3;
    max-height: 3.3em;
  }
}

.time-loc span{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: #808080;
  text-transform: uppercase;
  white-space: nowrap;
}

.time-loc span:nth-child(1){
  padding-right: 30px;
}



.card.no-h-margin .item-thumbnail-left > img{
  top: 0px;
  left: 0px;
  width: 45%;
  height: auto;
  max-width: none;
  max-height: none;
}

.card.no-h-margin .item-thumbnail-left > h2{
  margin-top: 0px;
  font-size: 20px;
  color: #505050;
  white-space: nowrap;
  overflow-x: hidden;
}

.card.no-h-margin .item-thumbnail-left > p.item-body-desc{
  font-size: 16px;
  color: #A5A5A5;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.no-h-margin .item-thumbnail-left > p.item-body-desc, .card.no-h-margin .item-thumbnail-left > h2{
  padding-left: 45%;
}

.card.no-h-margin .item-body .item-action{

  text-transform:lowercase;;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.card.no-h-margin .item-body .item-action{
  justify-content: space-between;
}

.card.no-h-margin .item-body .item-action a.button{
  min-height: 0;
  line-height:33px;
  padding: 0;
}

.card.no-h-margin .item-body .item-action a.button.ion-ios-heart.assertive{
  color: #EF4737!important;
}

.card.no-h-margin .item-body .item-action a.button.ion-star.calm{
  color: #11c1f3 !important;
}


.card.no-h-margin .item-body .item-action a.button::before{
  line-height:22px;
  font-size: 22px;
}


/*.card.no-h-margin .item-body .item-action .row .col:first-child{
  text-align:left;
}

.card.no-h-margin .item-body .item-action .row .col:last-child{
  text-align:right;
}*/

.card.no-h-margin .item-body .item-action .row .col a.button{
  font-size:12px;
}

.card.no-h-margin .item-body .icon-bar .button:not(:nth-child(1)){
  margin-left: 5px;
}

.card.no-h-margin .item-body .icon-bar .icon:before{
  font-size: 17px;
}

.card.no-h-margin .item-thumbnail-left .icon-bar .icon:nth-child(2), .card.no-h-margin .item-thumbnail-left .icon-bar .icon:nth-child(3){
  padding-left: 25px;
  font-weight: bold;
}

@media screen and (max-width:360px){
  .card.no-h-margin .item-thumbnail-left .action-bar .button-small{
    font-size: 10px;
  }

  .time-loc span:nth-child(1){
    padding-right: 5px;
  }
}

.card.no-h-margin .item-thumbnail-left .row.item-action{
  padding-left: 0px;
  padding-right: 0px;
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
}

.listing-detail .listing-head, .listing-body{
  position: relative;
}

.listing-detail h2.listing-title{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  color: #641937;
  margin-bottom: 0 27px 27px 0;
}

.listing-detail .listing-head > i.icon{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
}

.listing-detail .listing-head > .row .col{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  position: relative;
  padding-top:0;
  padding-right: 0;
  padding-left: 12px;
}

.listing-detail .listing-head > .row .col i.icon{
  position: absolute;
  left:0;
  top:0;
}

.listing-detail .listing-body{

}

.listing-body .banner{
  width: 100%;
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(244,247,250,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(244,247,250,1);
  box-shadow: 0px 0px 10px 3px rgba(244,247,250,1);
}

.listing-body .listing-desc-long{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.listing-body .item-action .action-bar{
  padding-left: 0;
}

.listing-body .item-action .icon-bar{
  padding-right: 0;
}

/* DJs carousel*/
.var-carousel-container{
  /* margin-top: 10px; */

}

.var-carousel-container .carousel-heading{
  margin: 0;
  padding: 5px 20px;
  background-color: transparent;
  color: #72C6C7;
  font-size: 14px;
  font-weight: bold;
}

.var-carousel-container .dj-item{
  /*width:310px;*/
  height:auto;
  /*margin: 0 3px 0 0;*/
  position: relative;
  margin: 0 5px;
  width: 95px;
  height: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;

  /*padding: 1px;*/
}

.var-carousel-container .slick-track .dj-item:first-child{
  margin-left: 15px;
}

.slick-list.draggable{
  margin: 0 5px;
}

.var-carousel-container .dj-item .dj-img{
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50px;
  /*border: 3px solid #dce1e6;*/
  /*position: absolute;
  top: 0;
  left: 0;*/
}

.var-carousel-container .dj-item h3{
    margin: 3px 0 0 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #717171;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.9em;
}

.var-carousel-container .dj-item h3::after{
  content: "\A -";
  white-space: pre;
}

.var-carousel-container .dj-item .dj-carousel-desc{
  color: #A8A7A7;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.5em;
}

.var-carousel-container.dj-div button.slick-prev{
  left:15px;
  z-index: 99;
}

.var-carousel-container.dj-div button.slick-next{
  right:15px;
  z-index: 99;
}

.var-carousel-container.dj-div .slick-prev:before, .var-carousel-container.dj-div .slick-next:before{
  color: #aaa;
}

.var-carousel-container .dj-item .dj-profile{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px 10px 5px 125px;
  /*max-width: 310px;*/
  /*margin: 5px 0;*/
}

.var-carousel-container .dj-item .dj-profile > h3{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;

}

.var-carousel-container .dj-item .dj-profile .dj-carousel-desc{
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.5em;
}

.var-carousel-container .dj-item .dj-profile > .icon-bar{
  padding: 0;
  margin-top: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.var-carousel-container .dj-item .dj-profile > .icon-bar .button:not(:nth-child(1)){
  margin-left: 8px;
}

.var-carousel-container .promo-item{
  width:180px;
  height:auto;
  margin: 0 20px;
  position: relative;
}

.var-carousel-container .sponsor-item{
  /*width:100%;*/
  height:auto;
  position: relative;
}

.var-carousel-container .promo-item h3, .var-carousel-container .promo-item p, .var-carousel-container .promo-item div{
  margin-bottom: 0;
  margin-left: 20px;
  white-space: normal;
  /*text-overflow: ellipsis;*/
  overflow: hidden;
}

.var-carousel-container .promo-item p{
  font-weight: bold;
}

.var-carousel-container .promo-item > h3{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  color: #641937;
  margin-top: 10px;
}

.radio-list label{
  border: 0;
  padding: 0 !important;
  background-color: transparent;
}

.contact-info > h3{
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 3px;
}

.contact-info > p{
  margin-bottom: 0;
  /* color: #fff; */
  font-weight: 300;
}

.radio-list .item-radio .item-content{
  background-color: transparent;
}


/* legals page */
.item-accordion ol li{
  white-space: normal;
  list-style:decimal;
  list-style-position: inside;
  text-align: justify;
  /*padding-left: 5px;*/
}


/* orderModal */

.ticket-container{
  /* margin-bottom: 10px; */
}

.ticket-container .row, .ticket-container .col{
  padding: 0;
}

.ticket-container .responsive-sm .col{
  margin-bottom: 0;
  padding: 0;
}

.ticket-container .responsive-sm .col .stock-name{
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    color: #641937;
    overflow: hidden;
}

.ticket-container .col .stock-price{
  padding-top: 5px;
  font-size: 16px;
  /*font-weight: 500;*/
}

.order-subtotal, .order-point{
  font-size: 16px;
}
.platform-ios .ticket-container .stock-qty-input{
  padding: 3px!important;
}

.booth-item-accordion ion-item{
  padding-left: 0;
}

.booth-item-accordion .ticket-container{
  margin-top: 5px;
}

.item-accordion .ticket-container .responsive-sm .col .stock-name{
  white-space: normal;
}

.item-accordion .ticket-container .responsive-sm .col .stock-price{
  color: #000;
}

ion-item.item-stable.booth-booking{
  border-width: 0;
  border-bottom: 1px solid #641937;
  margin-bottom: 1px;
}

ion-item.item-stable.booth-booking > i::before{
  color: #641937;
}

ion-item.item-stable.booth-booking.active{
  border-width: 0;
  border-bottom: 1px solid #641937;
}

.booth-booking-details .col.title{

}

.booth-booking-details .col.value{
  color: #641937 !important;
  font-size: 22px;
  text-transform: capitalize;
}

.member-tier{
  background-color: #000;
  text-align: center;
  padding: 10px 0;
}

.member-tier > h4{
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.member-tier > h4.tier{
  font-weight: 300;
  padding-top: 5px;
}

.item.voucher-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.item.voucher-head.item-icon-left{
  padding-left:45px!important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.voucher-head span.voucher-name{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 5px;
}

.voucher-head span.voucher-exp{
  /*padding-left: 5px;*/
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 400;
}

.voucher-info{
  align-items: stretch;
  max-height: 118px;
}

.voucher-info .voucher-desc{
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.promo-item{
  position: relative;
  height: 125px;
}

.promo-item .promo-img{
  position: absolute;
  right: 0;
  bottom: 0;
}
.promo-item .promo-img img{
  display: block;
}

.promo-item .promo-info{
  padding: 10px;
  margin-right: 130px;
}
.promo-item .promo-info p{
  margin-top: 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  text-transform: uppercase;
  }

  .promo-item .promo-info button{
    text-transform: capitalize;
    font-weight: normal;
  }

  /* gift certificates */

  /* .listing-accordion.ng-enter{
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
  } */

  /* .listing-desc.ng-enter{
    -webkit-animation: fadeInUp 0.5s;
    -moz-animation: fadeInUp 0.5s;
    -ms-animation: fadeInUp 0.5s;
    animation: fadeInUp 0.5s;
  } */

  .listing-accordion h2{
    color: #72C6C7;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
  }

  .listing-accordion h2::after{
    content: "\A --";
    white-space: pre;
  }

  .listing-accordion p{
    color: #717171;
    text-align: center;
  }
